@model IEnumerable<MVCApplication.Models.File>

@foreach (var file in Model)
{ 
    <h1>@file.Title</h1>
    <a href="~/Home/GetFile/@file.Id">@file.Name</a>
    <object data=@file.FormFile type=@file.ContentType width="400" height="200"></object>
}