@model MVCApplication.Models.File

 @using (Html.BeginForm("Create", "Profile", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        <div class="posts-container">
            <h3 class="header-block">Добавить новый рецепт</h3>

            @Html.ValidationMessageFor(model => model.Name)
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Название</span>
                </div>
                <input type="text" class="form-control" name="name">
            </div>

            <div class="buttons-block">
                <input type="file" class="form-control-file" name="formFile">
            </div>
            
            <div class="buttons-block">
                <div class="radio-container">
                    <div class="form-item radio-btn nth-2">
                        <input name="isPrivate" type="radio" value="public"/>
                        <span>Публичный</span>
                    </div>
                    <div class="form-item radio-btn nth-2">
                        <input name="isPrivate" type="radio" value="private"/>
                        <span>Приватный</span>
                    </div>
                </div>
            </div>

            <div class="buttons-block">
                <input type="submit" class="btn btn-primary" value="Добавить"/>
            </div>
        </div>
    }