﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="~/Home/AddUser">Add user</a>
    <a href="~/Home/ShowUsers">Show users</a>
    <a href="~/Profile/Index">AllFiles</a>
    @if (User.Identity.IsAuthenticated)
    {
        <a href="~/Profile/Create">Add file</a>
        <div class="buttons-block">
            <td><a class="btn btn-info" href="~/Profile/Account">На свою страницу</a></td>
        </div>
    }
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
