@model IEnumerable<MVCApplication.Models.User>

@{
    ViewBag.Title = "title";
}

<h2>title</h2>
<h6>@Model.Count()</h6>
@foreach (var user in Model)
{
    <h5>@user.Id</h5>
    <h5>@user.FirstName</h5>
    <h5>@user.LastName</h5>
}
